.MemeComponent{

    margin-top: 20px;
    margin-bottom: 10px;
    width: 40vw;

}

.cardBkg{

    background-color: #F4F9F9;
    /* background-color: #E3E8EC; */
    border: none;

}

.nameAndEdit{

    width: 100%;
    display: flex;
    justify-content: space-between;

}